section.fifth{
    .up{
        height: 50vh;
        margin-top: -50vh;
    }
    min-height: 50.5vh;
    background-color: #000;
    .container-fluid{
        width: 100%;
        .row{
            width: 100%;
        }
        .col-md-6.col-sm-12{
            margin-top: 110px;
            @media screen and (max-width: 600px){
                margin-top: 170px;
            }
        }
        @media screen and (max-width: 600px){
            .col-md-6.col-sm-12:last-child{
                margin-top: 0;
            }
        }
        
        hr{
            width: 102%;
            height: 1px;
            background-color: #fff; 
            @media screen and (max-width: 600px){
                width: 93%;
                margin-left: -5px;
            }
        }
        hr.sec{
            width: 102%;
            @media screen and (max-width: 600px){
                width: 93%;
                margin-left: -5px;
            }
        }
        span{
            font-family: 'Consolas', sans-serif;
            font-size: 12px;
            color: #fff;
        }
        span.sec{
            font-family: 'Consolas', sans-serif;
            font-size: 12px;
            padding-right: 20px;
        }
        p{
            
            font-size: 35px;
            font-family: 'Graphik', sans-serif;
            color: #fff;
            margin-left: 17%;
            margin-top: -20px;
            letter-spacing: -2px;
            width: 350px;
            line-height: 35px;
            @media screen and (max-width: 600px){
                margin-top: 10px;
                margin-left: 0;
                font-size: 28px;
            }
        }
        .center{
            position: relative;
            height: 320px;
            img{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}

