
section.third{
    width: 100%;
    min-height: 100vh;
    z-index: 20;
    .leftside{
        background-color: #000;
        transition: 3s;
    }
    @media screen and (max-width: 1020px) {
        .socials{
            display: none;
        }
    }
    @media screen and (max-width: 770px) {
        .leftside{
            position: relative;
            .hide{
                display: block;
                margin-top: -60px;
                padding-bottom: 20px;
                padding-left: 10px;
            }
        }
    }
    .hide{
        display: none;
    }
    .head{
        height: 35vh;
        font-family: 'Graphik', sans-serif;
        color: #808080;
        position: relative;
        @media screen and (max-width: 800px){
            height: 22vh;
        }
        @media screen and (max-width: 560px){
            height: 25vh;
        }
        h2{
            font-size: 47px;
            width: 365px;
            position: absolute;
            bottom: -10px;
            line-height: 50px;
            padding-left: 10px;
            letter-spacing: -1px;
            @media screen and (max-width: 800px){
                width: 265px;
                font-size: 42px;
            }
        }
    }
    .all{
        height: 65vh;
        position: relative;
        @media screen and (max-width: 800px){
            height: 28vh;
        }
        @media screen and (max-width: 560px){
            height: 52vh;
        }
        @media screen and (max-height: 760px) {
            height: 65vh;
        }
        h2.white{
            font-size: 50px;
            width: 395px;
            font-family: 'Graphik', sans-serif;
            color: #fff;
            letter-spacing: -2px;
            line-height: 1;
            padding-left: 13px;
            @media screen and (max-width: 800px){
                width: 265px;
                font-size: 42px;
            }
        }
        .bottomsection{
            position: absolute;
            bottom: 0;
            left: 0;
            padding-bottom: 31px;
            @media screen and (max-width: 800px){
                top: -35%;
                left: 57%;    
            }
            @media screen and (max-width: 560px){
                top: 37%;
                left: 0;
            }
            .videowrapper{
                overflow: hidden;
                width: 227px;
                height: 135px;
                position: relative;
                margin-bottom: 15px;
                &:hover{
                    video{
                        transform: scale(1.3);
                        transition: 0.5s transform;
                    }
                }
                video{
                    width: 227px;
                    height: 135px;
                    transform: scale(1);
                    transition: 0.5s transform;
                }
                img{
                    position: absolute;
                    top: 45%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
                
            }
            p.white{
                font-family: 'Graphik', sans-serif;
                font-size: 18px;
                color: #fff;
                width: 250px;
                line-height: 10px;
            }
            p:last-child{
                font-family: 'Graphik', sans-serif;
                font-size: 12.5px;
                color: #808080;
                width: 300px;
                line-height: 20px;
                padding-bottom: 0;
                margin-bottom: 0;
                @media screen and (max-width: 770px){
                    max-width: 250px;
                }
            }
        }
        .socials{
            img{
                margin-top: 150px;
                padding-left: 60px;
            }
        }
    }
    .rightside{
        background-color: #000;
        position: relative;
        height: 100vh;
        overflow: hidden;
        transition: 3s;
        @media screen and (max-width: 770px) {
            height: 50vh;
        }
        @media screen and(max-width: 560px){
            height: 44vh;
        }
        img{
            position: absolute;
            left: 100%;
            bottom: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: 2s;
            opacity: 0;
            &.active{
                left: 0;
                opacity: 1;
            }
        }
        p.center, p.bottom{
            position: absolute;
            font-family: 'Graphik', sans-serif;
            color: #fff;
        }
        p.center{
            top: 41%;
            left: 17%;
            font-size: 23px;
            letter-spacing: -1px;
            @media screen and (max-width: 770px){
                left: 58.5%;
            }
            @media screen and (max-width: 560px){
                left: 5%;
                top: 38%;
            }
        }
        span{
            font-family: "Consolas", sans-serif;
            font-size: 12px;
            position: absolute;
            top: 45%;
            left: 17%;
            line-height: 10px;
            color: #fff;
            @media screen and (max-width: 770px){
                left: 59%;
                top: 61%;
                line-height: 1;
            }
            @media screen and (max-width: 560px){
                left: 5%;
                top: 47%;
            }
        }
        p.bottom{
            bottom: 2%;
            left: 17%;
            font-size: 14px;
            letter-spacing: -1px;
            @media screen and (max-width: 770px){
                left: 59%;
                top: 88%;
                line-height: 1;
                max-width: 240px;
            }
            @media screen and (max-width: 560px){
                left: 5%;
                top: 82%;
            }
        }
    }
}
