section.twelveth{
    min-height: 93vh;
    height: 100%;
    width: 100%;
    position: relative;
    background-color: #000;
    font-size: 12px;
    font-family: 'GRAPHIK', sans-serif;
    @media all and (max-width: 800px){
    }
    .row{
        position: absolute;
        bottom: 20px;
    }
    img{
        width: 100%;
        object-fit: cover;
        height: 73vh;
        @media all and (max-width: 600px){
            height: 60vh;
        }
    }
    p{
        color: #fff;
        font-size: 18px;
        cursor: pointer;
    }
    span{
        color: rgb(158, 146, 146);
        max-width: 150px;
    }
    span.blockk{
        display: block;
        padding-bottom: 20px;
    }
    span.white{
        color: #fff;
        padding-right: 50px;
        margin-left: -3px;
    }
    @media all and (max-width: 768px){
        span.bright{
            display: none;
        }
    }
    .bottom{
        left: 30px;
        top: 20%;
    }
    .bottomright{
        padding-top: 80px;
    }
    .btn{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 20px;
        font-family: 'Consolas', sans-serif;
    }
}